*{
    background-color: black;
    color: greenyellow;
    font-family: monospace;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon{
    margin-right: auto;
    margin-left: 3em;
    background: url(Pretty\ Sprint.jpg);
    min-height: 4em;
    min-width: 4em;
    border-radius: 50%;
    border: 1px solid white;
}

#headerLinks{
    margin-right: 3em;
    display: flex;
    list-style: none;
}

li{
    margin: 1em;
    font-size: 2em;
    font-weight: bolder;
}

#projects{
    display: flex;
    margin: 3em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.projectBox{
    margin: 1em;
    padding: .3em;
    min-height: 12em;
    max-height: 12em;
    min-width: 30em;
    max-width: 30em;
    flex-shrink: 0;
    flex-grow: 0;
    border: .3em solid greenyellow;
}