*{
    color: #F5F0F6;
    font-family: monospace;
}

body{
    background: linear-gradient(180deg, #2B4162 0%, #0a0f16 100%);
}

a{
    text-decoration: none;
}

h1{
    font-size: 5em;
}

h2{
}

img{
    height: 13em;
    margin-left: auto;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icon{
    margin-right: auto;
    margin-left: 3em;
    background: url();
    min-height: 4em;
    min-width: 4em;
    border-radius: 50%;
    border: 1px solid white;
}

#headerLinks{
    margin-right: 3em;
    display: flex;
    list-style: none;
}

li{
    margin: 1em;
    font-size: 2em;
    font-weight: bolder;
}

section{
    display: flex;
    flex-direction: column;
    margin: 3em;
    justify-content: center;
    align-items: center;
}

#projectContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectBox{
    margin: 1em;
    padding: .3em;
    height: 14em;
    width: 36em;
    max-width: 40em;
    flex-grow: 1;
    display: flex;
}

.projectBox:hover{
    transition: .25s;
    scale: 1.05;
}

.projectWords{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13em;
    margin: .5em;
}

.languages{
    display: flex;
    align-items: baseline;
}

.dot{
    height: .5em;
    width: .5em;
    border: 1px solid white;
    border-radius: 100%;
    margin-right: .5em;
    margin-left: .5em;
}

.html{
    background-color: green;
}

.css{
    background-color: purple;
}

.javascript{
    background-color: yellow;
}

.java{
    background-color: orange;
}

.python{
    background-color: blue;
}

.contactLink{
    height: 5em;
    margin-left: 2em;
    margin-right: 2em;
}
.contactLink:hover{
    transition: .25s;
    scale: 1.05;
}